body {
  background-image: url("https://media1.giphy.com/media/3oGRFkmoqoui9nzL2g/giphy.gif?cid=ecf05e47ri6sz48otsxwvfjbjno7cohmd5la9yc0vmq3ef6u&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  font-family: 'Teko', sans-serif;
  color: #e9ecef;
  text-shadow: -1px 2px black;
}

/* HEADER STYLING */

header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header img {
  height: 20px;
}

header h1 {
  font-size: 50px;
  margin: 5px 0 0 5px;
  padding: 0;
}

header span {
  font-size: 30px;
  margin: 0 0 0 5px;
  padding: 0;
}

header p {
  font-size: 20px;
  margin: 5px 0 0 5px;
}

header a {
  text-decoration: none;
  color:#e9ecef;
  font-size: 20px;
  margin: 5px 0 0 5px;
}

/* MAIN SECTION */
main h2 {
  font-size: 40px;
  text-align: center;
}

main h4 {
  font-size: 25px;
  margin-bottom: 0;
  padding-left: 5px;
}

main ul {
  font-size: 20px;
  margin-top: 0;
}
